/*Header formatting*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 56px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
#logoName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
#name{
    font-weight: 600;
}
a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
}
#logo{
    max-height: 96px;
    max-width: 160px;
    padding-right: 16px;
}
#rectangle{
    position: absolute;
    right:0%;
    top:0%;
    padding-right:128px;
    width:204px;
    height: 204px;
    z-index: -1;
}
/*Body formatting*/
.body1{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
section, .myProjects, .mySkills{
    padding-right: 120px;
    padding-left: 120px;   
}
button{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    background-color: #FFE599;
    border: none;
    padding: 16px;
    border-radius: 10px;
}
hr{
    height: 8px;
    background-color: #6D9EEB;
    border: none;
}
.breakLine{
    padding-top: 56px;
    padding-bottom: 56px;
    padding-right: 120px;
    padding-left: 120px;
}
/*Hero formatting*/
em{
    font-style: italic;
}
.hero{
    height: 408px;
    display: grid;
    padding-bottom: 56px;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "heroText imageBox";
    position: relative;
    background-image: url(images/desktop_hero_background.png);
    background-size: cover;
}
#heroText{
    grid-area: heroText;
    padding-left: 105px;
    padding-bottom: 24px;
}
#imageBox{
    grid-area: imageBox;
    padding-right: 120px;
}
#selfie{
    max-height: 350px;
    position: absolute;
    left: 80%;
    bottom: 10%;
 }
#workButton{
    position: absolute;
    bottom: 20%;
}
/*My Skills formatting*/
.icon{
    padding: 8px;
    height: 44px;
    width: 44px
}
.skillsText{
    padding-left: 105px;
}
#iconBox{
    padding-right: 105px;
}
#skillsContainer{
    display:flex;
    background-color: rgba(109, 158, 235, 0.3);
    padding-bottom: 16px;
    background-clip: padding-box;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
ui{
    list-style: none;
}
.bullet1{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}
.bullet2{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding-bottom: 16px;
    align-items: center;
}
.skillsIcons{
    background-color: rgba(109, 158, 235, 0.3);
    border-radius: 10px;
    padding: 8px;
    background-clip: padding-box;
}
/*My Projects formatting*/
#projectsHeading{
    padding-left: 105px;
}
.projectBox{
    display: flex;
    background-color:  rgba(109, 158, 235, 0.3);
    border-radius: 10px;
    padding: 16px;
    padding-right: 105px;
}
.projectText{
    padding-left: 16px;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    font-size: 32px;
}
.projectHeading{
    display: flex;
    align-items: center;
}
.projectPhoto{
    height: 298px;
}
/*Footer formatting*/
footer{
    padding-right: 120px;
    padding-left: 120px;
}

.footerText{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.socialIconsBar{
    display: flex;
    justify-content: center;
}
.socialIcon{
    display: flex;
    padding: 8px;
    height: 44px;
    width: 44px
}